@import url(https://fonts.googleapis.com/css?family=Lato);

@import 'vendor/grid/grid.generator';
@import 'vendor/grid/grid';

@import 'palette';

/**
 * Smart Defaults 
 */
html {
	font-family: 'Lato', sans-serif;
}

a {
    position: relative;
    display: inline-block;
    outline: none;
    color: $color-primary;
    vertical-align: bottom;
    text-decoration: none;
    white-space: nowrap;

    border-bottom: 1px solid rgba(52,73,94,0.4);
    font-weight: 500;
    transition: background-color 0.3s, border-color 0.3s;

    &:hover {
    	outline: 0;
    	border-color: rgba(52,73,94,0);
    	background-color: rgba(52,73,94,0.1);
    }
}

li {
	padding-bottom: 8px;
}

dt {
	font-weight: bold;
}

th, td, caption {
	padding: 8px;
    text-align: left;
    border-bottom: solid 1px #ddd;
}

/** 
 * Utilities 
 */
.box-center {
  margin-left: auto;
  margin-right: auto;
}
.box-320 {  max-width:320px; }
.box-400 {  max-width:400px; }
.box-480 {  max-width:480px; }
.box-640 {  max-width:640px; }
.box-720 {  max-width:720px; }
.box-800 {  max-width:800px; }
.box-960 {  max-width:960px; }
.box-1100 { max-width:1100px; }
.box-1200 { max-width:1200px; }